.header {
    height: 64px;
    width: 1519px;
    padding: 8px 0px 8px 0px;
    border: 1px solid black;

}

.main {

background-color: azure;
height: 4182px;
width: 1012px;
border : 1px solid black;
font-size: 15px;
font-style: normal;
padding: 16px 48px 16px 15px;
margin-top: -686.4px;
margin-left: 253.2px;
border: 1px solid blue;
}

.nav1 {
    height: 686.4px;
    width: 253.2px;
     border: 1px solid red;
}

.nav2{
    height: 686.4px;
    width: 253.2px;
    margin-top: -4216px;
    margin-left: 1330.2px;
     border: 1px solid yellow;
    
}